<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Flask</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Bienvenidos a mi primera página Flask</h1>
    <h2>Mi nombre es Ana Alvarado</h2>
    <p>Esta es una pagína secilla, usando flask y python!</p>
    <p>Proyecto subido a GitHub. <a href="https://github.com/AnaMariaAlvaradoM" target="_blank">GitHub</a>.</p>
</body>
</html>
